<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="https://unpkg.com/vue@next"></script>
</head>

<body >
<hr />
<div id="main">
<div id="list" v-if="UI=='main'">
<h1>商品的列表</h1>
	<button @click="setAddUI()">新增商品</button>
	<table border=1>
		<tr><td>流水號</td><td>商品名字</td><td>價格</td><td>說明</td><td>-</td></tr>
		<tr v-for="item in dat">
			<td>{{item.id}}</td>
			<td>{{item.name}}</td>
			<td>{{item.price}}</td>
			<td>{{item.content}}</td>
			<td><button @click="delItem(item.id)">刪除商品</button><button @click="setEditUI(item)">修改商品</button></td>
		</tr>
	</table>
</div>
<div v-if="UI=='editForm'">
	名字: <input type="text" v-model="newItem.name"/> <br/>
	價格: <input type="text" v-model="newItem.price"> <br>
	說明: <textarea v-model="newItem.content"></textarea><br>
	<input type='button' @click="addItem()" value="保存">
</div>
<div v-if="UI=='editForm2'">
	名字: <input type="text" v-model="newItem.name"/> <br/>
	價格: <input type="text" v-model="newItem.price"> <br>
	說明: <textarea v-model="newItem.content"></textarea><br>
	<input type='button' @click="updateItem()" value="保存">
</div>
</div>
<script>
const todoApp= Vue.createApp({
	data() {
		return {
			UI: 'main',
			dat: [],
			newItem: {
				id: -1,
				name: '',
				price: '',
				content: ''
			}
		}
	},
	methods: {
		loadList: function () {
			const that=this;
			fetch('merchantControl.php?act=listItem')
			.then(function(response) {
				return response.json();
			})
			.then(function(myJson) {
				that.dat = myJson;

			});
		},
		delItem: function (id) {
			const that=this;
			let url="merchantControl.php?act=delItem&id="+id;
			fetch(url,{
				method: 'POST'
			})
			.then(function(res){return res.text(); })
			.then(function(data){
				console.log(data);
				that.loadList();
			})
		},
		addItem: function () {
			const that=this;
			let mydat = new FormData();
			mydat.append( "dat", JSON.stringify(this.newItem) );

			let url="merchantControl.php?act=addItem";
			fetch(url,{
				method: 'POST',
				body: mydat
			})
			.then(function(res){return res.text(); })
			.then(function(data){ 
				console.log(data);
				that.setUI('main');
				that.loadList();
			})
		},
		updateItem: function () {
			const that=this;
			let mydat = new FormData();
			mydat.append( "dat", JSON.stringify(this.newItem) );
			let url="merchantControl.php?act=updateItem&id="+this.newItem.id;
			fetch(url,{
				method: 'POST',
				body: mydat
			})
			.then(function(res){return res.text(); })
			.then(function(data){ 
				console.log(data);
				that.setUI('main');
				that.loadList();
			})
		},
		setEditUI: function(item) {
			this.newItem=item;
			this.setUI('editForm2');
		},
		setAddUI: function() {
			this.newItem={
				id: -1,
				name: '',
				price: '',
				content: ''
			};
			this.setUI('editForm');
		},
		setUI: function(page) {
			this.UI=page;
		}
	},
	created() {
		this.loadList();
	}
}).mount("#main");
</script>
</body></html>